<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>videoUpload</key>
	<array>
		<string>/1/video.mp4</string>
		<string>/2/video.mp4</string>
		<string>/3/video.mp4</string>
	</array>
</dict>
</plist>
