<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APS_FOR_PRODUCTION</key>
	<string>1</string>
	<key>APP_KEY</key>
	<string>79e45d1fce05ba3bbf4932b2</string>
	<key>CHANNEL</key>
	<string>App Store</string>
</dict>
</plist>
